<!-- <div *ngFor="let accordion of accordions" class="accordion">
    <div class="question" (click)="toggleAccordion(accordion)">
      <h2>{{ projectinfo.name }}</h2>
      <i class="icon" [ngClass]="{'active': accordion.active}"></i>
      <h3>{{projectinfo.startDate}}</h3>
      <h3>{{projectinfo.endDate}}</h3>
      <h3 style="color:rgb(89, 255, 0)">Completed </h3>
      <div>
          <i class="fa-solid fa-pen" style="color:rgb(89, 255, 0);margin-right: 20px;" ></i>
          <i class="fa-solid fa-trash" style="color: red;;margin-right: 20px;"></i>
      </div>
      
    </div>
    <div class="answer" [style.maxHeight]="accordion.active ? '100%' : '0'">
      <div>
          <section>
              <h2>Project Description</h2>
              <p>{{projectinfo.description}}</p>
          </section>
      
          <section>
              <h2>Dates:</h2>
              <p><strong>Start Date:</strong> {{projectinfo.startDate}}</p>
              <p><strong>End Date:</strong> {{projectinfo.endDate}}</p>
          </section>
      
          <section>
              <h2>List of Users</h2>
              <ul>
                  <li>User 1</li>
                  <li>User 2</li>
                  <li>User 3</li>
              </ul>
          </section>
      
          <section>
              <h2>Project Status</h2>
              <label>
                  <input type="radio" name="projectStatus" checked> Project is active
              </label>
              <label>
                  <input type="radio" name="projectStatus"> Project is inactive
              </label>
          </section>
      </div>
    </div>
  </div>
   -->
   <!-- <div *ngFor="let accordion of accordions" class="accordion">
    <div class="question" >
      <h2>{{ projectArr.projectDetails.pname }}</h2>
      <i class="icon" [ngClass]="{'active': accordion.active}"></i>
      <h3>{{projectArr.projectDetails.pstartDate}}</h3>
      <h3>{{projectArr.projectDetails.pendDate}}</h3>
      <h3 style="color:rgb(89, 255, 0)">Completed </h3>
      <div>
          <i class="fa-solid fa-pen" style="color:rgb(89, 255, 0);margin-right: 20px;" (click)="onEdit(projectArr)" ></i>
          <i class="fa-solid fa-trash" style="color: red;;margin-right: 20px;" (click)="deleteItem(projectArr.pid)"></i>
          <i class="fa-solid fa-eye" style="color: blue;" (click)="toggleAccordion(accordion)"></i>
      </div>
      
    </div>
    <div class="answer" [style.maxHeight]="accordion.active ? '100%' : '0'">
      <div>
          <section>
              <h2 >Project Description</h2>
              <p style="display: block;">{{projectArr.projectDetails.pdescription}}</p>
          </section>
      
          <section>
              <h2>Dates:</h2>
              <p><strong>Start Date:</strong> {{projectArr.projectDetails.pstartDate}}</p>
              <p><strong>End Date:</strong> {{projectArr.projectDetails.pendDate}}</p>
          </section>
      
          <section>
              <h2>List of Users</h2>
              <ul *ngFor="let item of accordionItems">
                  <li>{{item}}</li>
              </ul>
          </section>
      
          <section>
              <h2>Project Status</h2>
              <label>
                  <input type="radio" name="projectStatus" checked> Project is active
              </label>
              <label>
                  <input type="radio" name="projectStatus"> Project is inactive
              </label>
          </section>
      </div>
    </div>
  </div> -->
  

  <!-- <div  *ngFor="let project of projectArr" class="search-bar-icon" (click)="setSearch(searchInput)"><i class="fa-sharp fa-solid fa-magnifying-glass" ></i>

  <div *ngIf="searchText===''||project.projectDetails.pname.includes(searchText)">
    <div class="popup-content">
        <i class="fa-solid fa-xmark" style="margin-top: 0 ;margin-left: 480px; background-color: rgb(189, 26, 26);color: white;padding-right: 2px; padding-left: 2px; margin-top: 1px;" (click)="closeDetails()"></i>
    
        <h2 style=" color:rgb(255, 255, 255);text-transform:uppercase; ">{{ selectedItem.pname}}</h2>
        <h4>Description :</h4>
        <p>      {{ selectedItem.pdescription }}<p>
            <br>
        <h4>Start Date :</h4>
        <p>       {{ selectedItem.pstartDate}}</p><br>
        <h4>End Date :</h4>
        <p>        {{ selectedItem.pendDate }}</p><br>
        <section>
            <h3>Project Status :</h3>
            <label>
                <input type="radio" name="projectStatus" checked> Completed
            </label>
            <label>
                <input type="radio" name="projectStatus"> In progress
            </label>
        </section>
        <div class="accordion">
            <br>
            <h4 class="sel" id="select" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: lighter;">Selected Users :</h4> 
            <div  class="accordion-item" *ngFor="let item of accordionItems">
              <div style="font-weight: lighter"class="accordion-header">
                <h2 >{{ item }}</h2>
              </div>
    
      </div>
    </div>
    </div>
  </div>
</div> -->

  <table class="table" >
    <thead>
        <tr style="color: var(--primary-color)">
            <!-- <th>ID</th> -->
            <th>Project Title</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let project of projectArr| searchFilter: searchText" >
            <!-- <div *ngIf="searchText===''||project.projectDetails.pname.includes(searchText)"> -->
                <td class="project-info" style="text-align:left">{{ project.projectDetails.pname }}</td>

                <td class="start-date">{{project.projectDetails.pstartDate}}</td>

                <td class="end-date">{{project.projectDetails.pendDate}}</td>

                <td class="status">{{status}}</td>

                <td class="text-center">
                    <div>
                        <i class="fa-solid fa-pen" style="color:rgb(89, 255, 0);margin-right: 20px;" ></i>
                        <i class="fa-solid fa-trash" style="color: red;;margin-right: 20px;" (click)="deleteItem(project.id)" ></i>
                        <i (click)="viewItem(project)"class="fa-solid fa-eye" style="color: blue;"></i>
                    </div>               
                </td>   
            <!-- </div> -->
                 
        </tr> 
    </tbody>
</table>

<!-- <div class="answer" id="ans" style="

width: 500px;
height: 500px;
border-width: 5px;
padding-left: 25px;
 position: fixed;
top: 50%;left: 50%;background-color: #ebe8e8 ;border: 1px solid black"; > -->


<div *ngIf="selectedItem" class="popup">
   

     <div style="border-bottom: 2px solid #ccc;"> 
    <i class="fa-solid fa-xmark" style="margin-top: -40 ;margin-left: 580px; background-color: rgb(189, 26, 26);color: white;padding-right: 2px; padding-left: 2px; margin-top: 1px; " (click)="closeDetails()"></i>
    <h1 style="text-align:left ;margin-top: -20px;font-weight: lighter;"> Project Details</h1>
</div> 
<div  class="popup-content" >
        
    <div style="columns: 2;">
        <p>Project Title : </p>
    <h4 style=" color:rgb(0, 0, 0);">{{ selectedItem.pname}}</h4>

        <br>
    <p style="display: inline;">Start Date :   </p>
    <h4 style="display: inline;">{{ selectedItem.pstartDate}}</h4>
    <br>
    <p style="display: inline;">End Date :   </p>
    <h4 style="display: inline;">{{ selectedItem.pendDate }}</h4><br> <br>
    <section>
        <p>Project Status :</p>
        <!-- <h4>
            <input type="radio" name="projectStatus" (change)="updateStatus('Completed')" > Completed
        </h4>
        <h4>
            <input type="radio" name="projectStatus" (change)="updateStatus('Completed')"> In progress
        </h4> -->
    </section>
    <div class="accordion">
        <br>
        <p class="sel" id="select" >Selected Users :</p> 
        <div class="usercard">

         <h5 style="display: list-item;margin-top: -2px;" *ngFor="let uname of selectedItem.selectUsers">{{ uname }}</h5>
        </div>
    </div>

</div>
<br>
<p >Description :</p>
    <h4>      {{ selectedItem.pdescription }}</h4>
</div>
</div>





<!-- 
    <div class="answer" id="ans" style="display: none;

    width: 500px;
    height: 500px;
    border-width: 5px;
    padding-left: 25px;
     position: fixed;
    top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: #ebe8e8 ;border: 1px solid black;
    " *ngFor="let project of projectArr" >

            <i class="fa-solid fa-xmark" style="margin-top: 0 ;margin-left: 480px; background-color: rgb(189, 26, 26);color: white;padding-right: 2px; padding-left: 2px; margin-top: 2px;" (click)="closeDetails()"></i>
            <section>
                <h2>Project Name</h2>
                <p style="display: block;">{{project.projectDetails.pname}}</p>
            </section>
            <section>
                <h2 >Project Description</h2>
                <p style="display: block;">{{project.projectDetails.pdescription}}</p>
            </section>
            
            <section>
                <h2>Dates:</h2>
                <p><strong>Start Date:</strong> {{project.projectDetails.pstartDate}}</p>
                <p><strong>End Date:</strong> {{project.projectDetails.pendDate}}</p>
            </section>
        
            <section>
                <h2>List of Users</h2>
                <ul *ngFor="let item of accordionItems">
                    <li>{{item}}</li>
                </ul>
            </section>
        
            <section>
                <h2>Project Status</h2>
                <label>
                    <input type="radio" name="projectStatus" checked> Completed
                </label>
                <label>
                    <input type="radio" name="projectStatus"> In progress
                </label>
            </section>
    </div> -->

      