/* .accordion {
    background-color: white;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(255, 205, 255);
    cursor: pointer;
    width: 1000px;
 
  }
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon {
    margin-right: 16px;
    transition: transform 0.2s;
  }
  
  .icon.active {
    transform: rotate(-180deg);
  }
  
  .answer {
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
  }
   */


   /* .accordion {
    background-color: white;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(255, 205, 255);
    cursor: pointer;
    width: 1000px;
 
  }
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon {
    margin-right: 16px;
    transition: transform 0.2s;
  }
  
  .icon.active {
    transform: rotate(-180deg);
  }
  
  .answer {
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    column-count: 2;
  }

  .card{
    div {
      column-count: 2;
      column-gap: 40px;
      column-rule-style: solid;
      column-rule-width: 1px;
    }
  } */


  .table{
    margin: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    size: 500px;
  
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  
  /* .accordion {
      background-color: white;
      padding: 4px 16px;
      margin-bottom: 16px;
      border-radius: 4px;
      box-shadow: 1px 1px 5px rgb(255, 205, 255);
      cursor: pointer;
      width: 1000px;
   
    }
    .question {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .icon {
      margin-right: 16px;
      transition: transform 0.2s;
    }
    
    .icon.active {
      transform: rotate(-180deg);
    }
    
    .answer {
      color: #666;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
    }
     */
  
  
     /* .accordion {
      background-color: white;
      padding: 4px 16px;
      margin-bottom: 16px;
      border-radius: 4px;
      box-shadow: 1px 1px 5px rgb(255, 205, 255);
      cursor: pointer;
      width: 1000px;
   
    }
    .question {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .icon {
      margin-right: 16px;
      transition: transform 0.2s;
    }
    
    .icon.active {
      transform: rotate(-180deg);
    }
    
    .answer {
      color: #666;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
      column-count: 2;
    }
  
  
    .question{
      column-count: 5;
      column-gap: 40px;
      column-rule-style: solid;
      column-rule-width: 1px;
      column-rule-color: black;
    }
    .card{
      div {
        column-count: 2;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-width: 1px;
      }
    }  */



    /* .table{
      margin: 4px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
        width: 210px;
       height: 20px;
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    tr:hover {
      background-color: #f5f5f5;
    } */
    
    
    /* .accordion {
        background-color: white;
        padding: 4px 16px;
        margin-bottom: 16px;
        border-radius: 4px;
        box-shadow: 1px 1px 5px rgb(255, 205, 255);
        cursor: pointer;
        width: 1000px;
     
      }
      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .icon {
        margin-right: 16px;
        transition: transform 0.2s;
      }
      
      .icon.active {
        transform: rotate(-180deg);
      }
      
      .answer {
        color: #666;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
      }
       */
    
    
       /* .accordion {
        background-color: white;
        padding: 4px 16px;
        margin-bottom: 16px;
        border-radius: 4px;
        box-shadow: 1px 1px 5px rgb(255, 205, 255);
        cursor: pointer;
        width: 1000px;
     
      }
      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .icon {
        margin-right: 16px;
        transition: transform 0.2s;
      }
      
      .icon.active {
        transform: rotate(-180deg);
      }
      
      .answer {
        color: #666;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
        column-count: 2;
      }
    
    
      .question{
        column-count: 5;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: black;
      }
      .card{
        div {
          column-count: 2;
          column-gap: 40px;
          column-rule-style: solid;
          column-rule-width: 1px;
        }
      } */
    
      
      
    
    .table{
      margin: 4px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
        width: 210px;
       height: 20px;
       
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    tr:hover {
      background-color: #f5f5f5;
    }
    
    
    /* .accordion {
        background-color: white;
        padding: 4px 16px;
        margin-bottom: 16px;
        border-radius: 4px;
        box-shadow: 1px 1px 5px rgb(255, 205, 255);
        cursor: pointer;
        width: 1000px;
     
      }
      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .icon {
        margin-right: 16px;
        transition: transform 0.2s;
      }
      
      .icon.active {
        transform: rotate(-180deg);
      }
      
      .answer {
        color: #666;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
      }
       */
    
    
       /* .accordion {
        background-color: white;
        padding: 4px 16px;
        margin-bottom: 16px;
        border-radius: 4px;
        box-shadow: 1px 1px 5px rgb(255, 205, 255);
        cursor: pointer;
        width: 1000px;
     
      }
      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .icon {
        margin-right: 16px;
        transition: transform 0.2s;
      }
      
      .icon.active {
        transform: rotate(-180deg);
      }
      
      .answer {
        color: #666;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
        column-count: 2;
      }
    
    
      .question{
        column-count: 5;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: black;
      }
      .card{
        div {
          column-count: 2;
          column-gap: 40px;
          column-rule-style: solid;
          column-rule-width: 1px;
        }
      } */