*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color:#b5bcd5;
    /* opacity:0.3; */
    border: 2px solid var(--primary-color);
  }
  
  /* .outer-area {
    background-color:var(--primary-color);
    border-radius: 10px; 
  } */

  .card {
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    height: 480px;
    width: 420px;
    box-shadow: 20px;
    opacity: 100;
    
  }
  
  .form-label {
    font-weight: bold;
    color: #333; 
    margin-left: 26px;
    margin-top: 280px;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #c0bebe;
    margin-top: 30px;
    width:350px; 
    height: 29px;
    margin-left: 26px;
  }

  .input-group-btn {
    position: relative;
    top: -1px;
  }

  .btn-success {
    background-color: var(--primary-color);
    /* border-color: #4caf50; */
    color: #ffffff;
    width: 150px;
    height:50px;
    margin-left: 140px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom : 10px;
  }
  
  .btn-success:hover {
    background-color: var(--secondary-color);
  }

  .spinner-border {
    margin-right: 5px;
  }

  .row {
    margin-bottom: 15px;
  }
 
  @media (max-width: 576px) {
    .box {
      height: 576px;
    }
  }
  