<!-- <app-side-nav></app-side-nav>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div class="main-container">

        <div class="header">
            <p>User Directory</p>
            <div class="search-bar">
                <input type="text" placeholder="Search User" class="search-bar-input">
                <div class="search-bar-icon"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>
            </div>
        </div>
    </div>
    <div class="add-user" (click)="openform()"><a routerLink="form"><i class="fa-solid fa-plus"></i></a></div>
    <form id="myform" [formGroup]="userform" >
        <header>User Details</header>
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="name" formControlName="name" name="user" placeholder="Enter the name">
        <br>
        <div *ngIf="userform.controls.name.invalid && userform.controls.name.touched" style="color: red;">name is
            required</div>
        <label for="email">Email:</label>
        <input type="email" [(ngModel)]="email" formControlName="email" name="email" placeholder="Enter the email">
        <br>
        <div
            *ngIf="userform.controls.email.invalid && userform.controls.name.touched && userform.controls.email.errors">
            <div *ngIf="userform.controls.email.errors['required'] " style="color: red;">Email is required</div>
            <div *ngIf="userform.controls.email.errors['email']" style="color: red;">invalid email</div>
        </div>
        <label for="role">Role:</label>
        <input type="text" [(ngModel)]="role" formControlName="role" name="rle" placeholder="Enter the role">
        <br>
        <div *ngIf="userform.controls.role.invalid && userform.controls.role.touched" style="color: red;">role is
            required</div>
        <label for="phone">Phone:</label>
        <input type="tel" [(ngModel)]="phone" formControlName="phone" name="phone" placeholder="Enter Phone No">
        <br>
        <div *ngIf="userform.controls.phone.invalid && userform.controls.phone.touched" style="color: red;">phone is
            required</div>
        <label for="address">Address:</label>
        <input type="text" [(ngModel)]="address" formControlName="address" name="address" placeholder="Enter Address">
        <br>
        <div *ngIf="userform.controls.address.invalid && userform.controls.address.touched" style="color: red;">address
            is required</div>
       

        <br>
        <button type="submit" [disabled]="!userform.valid" class="btn" (click)="onsubmit() " (click)="closeform()">Add user</button>
        <button class="close" (click)="closeform()">Close</button>
    </form>
   <div>
   </div>
    <div *ngIf="issubmitted" class="flex-container">
            <app-user-card *ngFor="let msg of userinfo" [userinfo]="msg"></app-user-card>
    </div>
</body>

</html> -->


<app-side-nav></app-side-nav>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div class="main-container">

        <div class="header">
            <p style="color:#ffffff; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 600;">User Directory</p>
            <!-- <button (click)="toggleDarkMode()">Toggle Dark Mode</button> -->
            <div class="search-bar">
                <input type="text" placeholder="Search User" class="search-bar-input" [(ngModel)]="searchText">
                <div class="search-bar-icon"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>


                <!-- <input type="text" placeholder="Search User" class="search-bar-input" #searchInput>
                 -->
            </div>
        </div>
    </div>
    
    <div class="add-user" (click)="openform()">+ Add User</div>
    <div  class="form-div">
       
        <form  id="myform" #userForm="ngForm"  style="display: none;" [formGroup]="userform" >
            <header>User Details</header>
            <!-- <label for="Id">Id:</label>
            <input type="number" [(ngModel)]="uid"  name="uid" placeholder="Enter the Id" formControlName="uid">
            <br>
            <div *ngIf="userform.controls.uid.invalid && userform.controls.uid.touched" style="color: red;">id is
                required</div> -->
            <label for="name">Name:</label>
            <input type="text" [(ngModel)]="uname"  name="uname" formControlName="uname" placeholder="Enter the name">
            <br>
            <div *ngIf="userform.controls.uname.invalid && userform.controls.uname.touched" style="color: red;">name is
                required</div>
            <label for="email">Email:</label>
            <input type="text" [(ngModel)]="uemail"   name="uemail" formControlName="uemail" placeholder="Enter the email">
            <br>
            <div
                *ngIf="userform.controls.uemail.invalid && userform.controls.uemail.touched && userform.controls.uemail.errors">
                <div *ngIf="userform.controls.uemail.errors['required'] " style="color: red;">Email is required</div>
                <div *ngIf="userform.controls.uemail.errors['email']" style="color: red;">invalid email</div>
            </div>
            <label for="role">Role:</label>
            <input type="text" [(ngModel)]="urole"  name="urole" formControlName="urole" placeholder="Enter the role">
            <br>
            <div *ngIf="userform.controls.urole.invalid && userform.controls.urole.touched" style="color: red;">role is
                required</div>
            <label for="phone">Phone:</label>
            <input type="text" [(ngModel)]="uphone"  name="uphone" formControlName="uphone">
            <br>
            <div *ngIf="userform.controls.uphone.invalid && userform.controls.uphone.touched" style="color: red;">phone is
                required</div>
            <label for="address">Address:</label>
            <textarea style="width:max-content;" name="uaddress" id="" cols="67" rows="5" [(ngModel)]="uaddress" formControlName="uaddress"></textarea>
            <br>
            <div *ngIf="userform.controls.uaddress.invalid && userform.controls.uaddress.touched" style="color: red;">address
                is required</div>
            <label for="photo">Photo:</label>
            <input type="file" (change)="onFileSelected($event)" name="photo" class="ph">
     
            <br>
            <button  [disabled]="!userform.valid" class="btn" style="background-color: var(--primary-color);" (click)="saveUserFormData(userForm.value)">Add </button>   


        <button style="background-color: var(--secondary-color);" class="close" (click)="close()">Close</button>
            <!-- <button class="close" (click)="closeform()">Add user</button> -->
            <!-- <button class="close" (click)="closeform()"</button> -->
        </form>
    </div>

   <div>
   </div>
     
            <app-user-card  [userArr]="userArr" [searchText]="searchText" (testEvent)="retrieveUsers()"></app-user-card>

</body>

</html>